.homePage {
  &__filters {
    display: grid;
    gap: 36px;
    grid-template-columns: 1fr 1fr;
    margin: 24px 0;
  }

  &__card {
    &_wrapper {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 16px
    }
  }

  &__pagination {
    margin-top: 32px;
  }

  &__plot {
    display: flex;
    margin: 0 auto;
  }
}
